// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Arial';
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-family: 'Arial';
  font-size: 24px;
  font-weight: 500;
}

.container {
  width: 800px;
  margin: auto;
}

.letter {
  color: white;
  font-weight: bold;
  text-align: center;
  width : 20px;
  height: 20px;
  background-color: #1B96D6;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

ul {
  padding: 0;
}
